<a href="https://colab.research.google.com/github/shun4193/Prmn2023a/blob/main/my_answer/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [3]:
# 入力用
import random
student_list = []
for i in range(5):
  student_number = 2220000 + random.randrange(10,2800,10)
  student_list.append('b' + str(student_number))
print(student_list)

['b2222160', 'b2220700', 'b2221270', 'b2222760', 'b2221530']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [8]:
# 入力用
list1 = []
list2 = []
list3 = []
while len(list1) != 5:
  tmp = random.randint(1,9)
  if list1.count(tmp) == 0:
    list1.append(tmp)
while len(list2) != 5:
  tmp = random.randint(1,9)
  if list2.count(tmp) == 0:
    list2.append(tmp)
for i in range(5):
  list3.append(list1[i] + list2[i])
print(list1)
print(list2)
print(list3)

[4, 8, 3, 7, 1]
[8, 5, 7, 9, 6]
[12, 13, 10, 16, 7]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [15]:
# 入力用
import random
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]
split_list = []
while len(todohuken_list) != 0:
  tmp_list = []
  for i in range(4):
    tmp = random.randint(0,len(todohuken_list) - 1)
    tmp_list.append(todohuken_list[tmp])
    todohuken_list.remove(todohuken_list[tmp])
    if len(todohuken_list) == 0:
      break
  split_list.append(tmp_list)
print(split_list)

[['兵庫県', '神奈川県', '長野県', '千葉県'], ['鹿児島県', '山形県', '東京都', '和歌山県'], ['佐賀県', '沖縄県', '徳島県', '青森県'], ['北海道', '栃木県', '島根県', '岐阜県'], ['京都府', '山梨県', '埼玉県', '広島県'], ['愛媛県', '滋賀県', '石川県', '高知県'], ['宮城県', '秋田県', '大阪府', '三重県'], ['福岡県', '福井県', '富山県', '大分県'], ['熊本県', '長崎県', '群馬県', '奈良県'], ['岩手県', '山口県', '福島県', '茨城県'], ['静岡県', '宮崎県', '岡山県', '新潟県'], ['鳥取県', '愛知県', '香川県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [30]:
# 入力用
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]
age_list = []
for i in range(len(university_list)):
  age_list.append(int(university_list[i].split(',')[1]))
age_list.sort()
sorted_list = []
while len(sorted_list) != 4:
  for i in range(4):
    for j in range (len(university_list)):
      if age_list[i] == int(university_list[j].split(',')[1]):
        sorted_list.append(university_list[j])
print(university_list)
print(sorted_list)

['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [20]:
# 入力用
FizzBuzz_list = [[],[],[],[]]
for i in range(1,101):
  if i % 3 == 0 and i % 5 == 0:
    FizzBuzz_list[0].append(i)
  elif i % 3 == 0:
    FizzBuzz_list[1].append(i)
  elif i % 5 == 0:
    FizzBuzz_list[2].append(i)
  else:
    FizzBuzz_list[3].append(i)
for i in range(4):
  print(len(FizzBuzz_list[i]))

6
27
14
53